/* @font-face {
    font-family: 'Lexend Deca', sans-serif;
    src: url('../../assets/vendor/font/LexendDeca-VariableFont_wght.ttf');
} */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');
:root{
    --desaturated-blue: #7676B2;
    --soft-blue: #5468E7;
    --soft-violet: #C897E4;
    --dark-blue: #232340;
    --off-white: #f5f5f5;
    --light-orange: #FFBA79;
}

.bg-desaturated-blue{
    background-color: var(--desaturated-blue);
}
.bg-light-orange{
    background-color: var(--light-orange);
}
.bg-soft-blue{
    background-color: var(--soft-blue);
}
.text-light-orange{
    color: var(--light-orange);
}
.text-soft-blue{
    color: var(--soft-blue);
}
.text-desaturated-blue{
    color: var(--desaturated-blue);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--off-white);
}

#hero{
    min-height: 100vh;
    width: 100%;
    background-image: url('/public/images/hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-button{
    background-color: rgba(118, 118, 178, .8);
    border-radius: 5px;
    text-align: center;
}
.hero h1,
.content h1,
.informations h1,
.reviews h1,
.mockup-content h1{
    font-size: 34px;
    line-height: 42px;
}
.hero p{
    font-size: 18px;
    line-height: 30px;
}

.hero form input[type="email"]{
    font-size: 14px;
    line-height: 22.4px;
    color: var(--desaturated-blue) !important;
}
.hero :where(form input, form button){
    padding-block: 12px;
}
header nav .menu-button:hover,
.hero form button:hover
{
    opacity: .9;
}
 
header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: transparent;
}

.hero form .icon,
footer form .icon{
    right: 0;
    height: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
}

.hero input{
    width: 100%;
}
.hero button{
    width: 100%;
}
.hero ::placeholder{
    color: var(--desaturated-blue);
}


#mockup,
#reviews{
    padding-block: 5rem;
}

.mockup-content{
    display: flex;
    flex-wrap: wrap-reverse;
}

.mockup-content-right img{
    width: 200%;
}


.information{
    padding-block: 3rem;
}

.information img{
    width: 100%;
}

.information-content{
    display: flex;
    flex-wrap: wrap-reverse;
}
.card{
    width: 260px;
    box-shadow: 1px 5px 19px 2px rgba(118, 118, 178, 0.24);
    -webkit-box-shadow: 1px 5px 19px 2px rgba(118, 118, 178, 0.24);
    -moz-box-shadow: 1px 5px 19px 2px rgba(118, 118, 178, 0.24);
}
.profile-review{
    margin-top: 10px;
}
.card .card-footer img{
    width: 70px;
    border-radius: 50%;
}
.card-body p{
    font-size: 18px;
    line-height: 27px ;
    color: rgba(35, 35, 64, 0.9);
    font-weight: 400;
}
.card-footer span.name-review{
    font-size: 24px;
    line-height: 30px;
    color: var(--dark-blue);
}
.card-footer p.position-review{
    font-size: 14px;
    line-height: 23px;
    color: var(--desaturated-blue)
}

.swiper {
    width: 100%;
    height: 100%;
    padding-block: 5rem !important;
  }

 
  footer h3{
    font-size: 24px;
    line-height: 30px;
  }

 footer{
    background-color: var(--dark-blue);
    padding-top: 6rem ;
    padding-bottom: 2rem;
 } 

 footer p,
 footer li a{
    font-size: 14px;
    line-height: 23px;
 }
 footer form input[type="email"]{
    background-color: rgba(245, 245, 245, 0.24);
    font-weight: 400 !important;
}
footer ::placeholder{
    color: white;
}
.footer-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-item:nth-child(1){
    order: 2;
}
.footer-item:nth-child(2){
    order: 3;
}
.footer-item:nth-child(3){
    order: 4;
}
.footer-item:nth-child(4){
    order: 1;
}

